@charset "utf-8";
/* 
Name: Common stylesheet
Description: Таблица переопределяет стили по-умолчанию и задает базовое форматирование некоторым элементам. 
Created: April 2010
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

/* ----- reset ----- */
html, body, iframe, address, blockquote, div, p, pre, h1, h2, h3, h4, h5, h6, hr,   /* блочные элементы */
dd, dl, dt, ul, ol, li,                                                             /* списки */
a, abbr, acronym, b, br, cite, code, del, dfn, em, i,                               /* строчные элементы */
ins, kbd, q, samp, span, strong, tt, var,                                           /* строчные элементы */
img, object,                                                                        /* картинки и объекты */
caption, table, tbody, td, tfoot, th, thead, tr,                                    /* табличные элементы */
form, fieldset, legend, label,                                                      /* элементы формы кроме контролов */
u, font, s, center, dir, menu, strike, xmp                                          /* устаревшие элементы */
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-indent: 0;
    font-family: inherit;
    font-size: 1em;
}
/* ----- /reset ----- */

/* ----- common ----- */
html, body  {
    background: #fff;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 100.01%;
    color: #000;
}
body {
    font-size: 0.813em; /* = 13px - базовый размер шрифта для страницы */
}
p {
    margin: 0 0 1em 0;
}
img, a img {
    border: 0;
}
code, kbd, pre, samp, tt, var {
    font-family: "Courier New", Courier, monospace;
    font-size: 1em; /* =13px */
}
pre {
    margin: 0 0 1em 0;
    white-space: pre;
}
hr {
    height: 1px;
    margin: 1em 0;
    padding: 0;
    color: gray;
    background: gray;
    border: 0;
}
q:before, q:after,
blockquote:before, blockquote:after {
    content: "";
}
/* ----- /common ----- */

/* ----- headers ----- */
h1, h2, h3, h4, h5, h6 {    
    margin: 1em 0 0.3em 0;
    font-weight: normal;
}
h1 {
    font-size: 2.154em; /* =28px */
}
h2 {
    font-size: 1.847em; /* =24px */
}
h3 {
    font-size: 1.616em; /* =21px */
}
h4 {
    font-size: 1.385em; /* =18px */
}
h5 {
    font-size: 1.154em; /* =15px */
    font-weight: bold;
}
h6 {
    font-size: 1em; /* =13px */
    font-weight: bold;
}
/* ----- /headers ----- */

/* ----- links ----- */
a {
    text-decoration: none;
    color: #00e;
}
a:link { text-decoration: none; color: #00e; }
a:visited { text-decoration: none; color: gray; }
a:hover, a:active { text-decoration: underline; color: #f00; }
/* ----- /links ----- */

/* ----- lists ----- */
ul, ol, dl {
    margin: 0 0 1em 0;
}
ul, ol {
    padding: 0 0 0 2em;
    list-style-position: outside;
}
ol {
    list-style-type: decimal;
}

ul li, ol li {
    margin: 0.2em 0;
}

dt {
    margin: 0;
    font-weight: bold;
}
dd {
    margin: 0 0 1em 0;
}

ul ul, ol ul, ul ol, ol ol {
    margin: 0 0 0.3em 0;
    padding: 0 0 0 1.5em;
}
/* ----- /lists ----- */

/* ----- tables ----- */
table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: top;
    font-family: "Lucida Sans Unicode", sans-serif;
}
caption {
    padding-bottom: 0.5em;
    text-align: left;
}
th {
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}
td {
    vertical-align: top;
}
tfoot {
    font-weight: bold;
}
/* ----- /tables ----- */

/* ----- forms ----- */
form {
    margin: 0 0 1em 0;
}
fieldset {
    padding: 12px;
    border: 1px solid gray;
}
input, textarea, select, button {
    height: auto;
    margin: 0;
    vertical-align: middle;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 1em; /* =13px */
    color: #000;
    line-height: normal;
}
input.text, textarea, select {
    padding: 1px;
    border: 1px solid gray;
    background: #fff;
}
textarea {
    vertical-align: top;
}
select option {
    background: #fff;
}
optgroup {
    color: #000;
    background: #fff;
}
optgroup option {
    padding-left: 22px;
}
/* ----- /forms ----- */
