@charset "utf-8";
/*
Name: Content stylesheet
Description: Таблица содержит форматирование для всех компонентов в контенте. 
Created: April 2010
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

/* ----- default common classes using in content ----- */
.small_margin {
	margin: 0 0 0.5em 0;
}
.no_margin {
	margin: 0;
}
.clear {
	clear: both;
}
.align_left {
	text-align: left;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}
.align_justify {
	text-align: justify;
}

.error_message {
	color: #ff0000;
}
.success_message {
	color: #006400;
}

.image_in_text {
	border: 1px solid gray;
}
.left {
	float: left;
	margin: 10px 15px 10px 0;
}
.right {
	float: right;
	margin: 10px 0 10px 15px;
}
.text_top {
	margin-top: 0;
}

.box_in_text {
	padding: 10px;
	border: 1px solid gray;
}
.box_in_text img {
	display: block;
}
.box_in_text .caption {
	padding: 2px 3px;
	border: 1px solid gray;
	border-top: 0;
	background: silver;
	text-align: center;
	font-size: 0.847em; /* =11px */
}
/* ----- /default common classes using in content ----- */

/* ----- tables ----- */
/* default */
.base_table {
	width: 100%;
	margin: 0 0 1em 0;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}
.base_table th {
	padding: 2px;
	border: 1px solid gray;
	background: silver;
}
.base_table td {
	padding: 2px;
	border: 1px solid gray;
}

.lined_table {
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0 0 0 1px;
	border-collapse: separate;
	border-spacing: 0;
	border: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.lined_table th {
	padding: 2px;
	border: 0;
	border-right: 1px solid #fff;
	background: gray;
}
.lined_table td {
	padding: 2px;
	border: 0;
	border-right: 1px solid #fff;
	background: silver;
}
.lined_table tr.odd td {
	background: #f1f1f1;
}
/* /default */

/* basket */
table.basket {
	margin: 0 0 1em 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: separate; 
	border: 0;	
}
table.basket th, table.basket td {
    padding: 3px;
	border: 0;
	border-right: 1px solid #fff;
	vertical-align: middle;
}
table.basket thead th, table.basket tfoot td {
	padding: 4px 3px;
	background: silver;
}
table.basket th {
    text-align: center;
}
table.basket tfoot td.no_border {
	border: 0;
}
table.basket tbody td {
	background: #fafafa;
}
table.basket tbody tr.odd td {
	background: #f3f3f3;
}
table.basket img {
    margin-right: 5px;    
    vertical-align: middle;
}
/* /basket */
/* ----- /tables ----- */


/* ----- pager ----- */
.pager {
    clear: both;
	margin: 0 0 1em 0;
}
.pager a:visited { color: #00E; }
.pager a:hover, .pager a:active { color: #F00; }

.pager .control {
    margin: 0 5px;
}
.pager .arrow img {
    vertical-align: middle;
}
.pager .current {
    padding: 0 3px 1px 3px;
    background: #0080FF;
    color: #fff; 
}
/* ----- /pager ----- */

/* ----- news ----- */
.news .name {
    margin: 0 0 0.5em 0;
    font-weight: normal;
}
.news .text {
    margin-bottom: 1em;
}
.news_list li { 
    margin: 0 0 1em 0;
}
.news_view {
    margin-bottom: 1em;
}
.news_view .name {
	margin: 0.5em 0;	
}
/* ----- /news ----- */

/* ----- vacancies ----- */
.vacancies .name {
    margin: 0;
    font-weight: normal;
}
.vacancies .date {
    margin-bottom: 0.5em;
}
.vacancies .text {
    margin-bottom: 1em;
}
.vacancy_list li { 
    margin: 0 0 1em 0;
}
.vacancy_view {
    margin-bottom: 1em;
}
.vacancy_view .name {
    margin: 0.5em 0;    
}
/* ----- /vacancies ----- */

/* ----- gallery ----- */
.gallery {
	float: left;
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;	
}
.gallery li {	
	float: left;
	width: 27%;
	margin: 0 1em 1em 1em;
	padding: 1em 0 0 0;
	list-style: none;
	text-align: center;
}
/* ----- /gallery ----- */
