@charset "utf-8";
/* 
Name: Form stylesheet
Description: Стили для форм.
Created: April 2010
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

/* ----- default ----- */
input.radio, input.checkbox {
	width: auto;
	vertical-align: middle;
}

.field {	
	clear: both;
	padding: 0 0 0.5em 0;
}
.captcha_field img, .captcha_field input {
    vertical-align: top;
}
.captcha_field img {
    margin-right: 5px;
}
form .controlset {
	clear: both;
	padding-top: 1em;
}
form .note {	
	font-size: 0.847em; /* =11px */
	font-weight: bold;
}
form .mark {
	color: #ff0000;
}
form .error {
	color: #ff0000;
}

/* base (vertical) form */
.base_form {
	margin: 0 0 1em 0;
}
.base_form input.text {
	width: 270px;
}
.base_form input.file {
	width: 274px;
}
.base_form .captcha_field input.text {
    width: 100px;
}
.base_form textarea {
	width: 270px;
	height: 70px;
}
.base_form select {
	width: 274px;
}
/* /base form */

/* level (horizontal) form */
.level_form {
	margin: 0 0 1em 0;
}
.level_form .field .name {
	float: left;
	width: 150px;
}
.level_form .field .control {
	margin-left: 150px;
}
.level_form input.text {
	width: 200px;
}
.level_form input.file {
	width: 204px;
}
.base_form .captcha_field input.text {
    width: 100px;
}
.level_form textarea {
	width: 200px;
	height: 70px;
}
.level_form select {
	width: 204px;
}
/* /level form */
/* ----- /default ----- */

#content form {
	margin: 0 0 1em 0;
}

/* login form */
.login_form .controlset {
    padding-top: 0.5em;
}
.login_form input.text {
	width: 213px;
}
.login_form input.checkbox {
	width: auto;
	margin: 0 5px;
}
.login_form .restore_link {
    margin-top: 5px;
}
.login_form .error_message {
    margin: 2px 0;
    padding: 5px; 
    border: 2px solid red;
    font-weight: bold;
    color: red;   
}
/* /login form */
