@charset "utf-8";
/* CSS Document */
/* 
Template
Name: Handheld stylesheet
Description: Таблица содержит стили для мобильных устройств. Установлены меньшие отступы для параграфов, списков и заголовков.
Version: $Id: handheld.css,v 1.1 2008/04/10 16:12:07 pavka Exp $
Date: April 2008
Author: Yuriy Ponomarev (mailto:ponomarev@colocall.net)
*/

body {
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

p {
	margin: 0;
	margin-bottom: 0.2em;
}

ul, ol, dl {
	margin: 0;
	margin-bottom: 0.2em;
}
ul li, ol li {
	margin: 0;
}
ul ul, ol ul, ul ol, ol ol {
	margin: 0;
	margin-bottom: 0.1em;
	padding: 0;
	padding-left: 1.5em;
}
dd {
	margin: 0;
	margin-bottom: 0.2em;
}
