@charset "utf-8";
/* 
Name: Handheld stylesheet
Description: Таблица содержит стили для мобильных устройств.
Created: April 2010
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

body {  
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #000;
}
hr {
    height: 1px;
    margin: 1em 0;
    padding: 0;
    color: gray;
    background: gray;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
p {
    margin: 0;
    margin-bottom: 0.2em;
}
ul, ol, dl {
    margin: 0;
    margin-bottom: 0.2em;
}
ul li, ol li {
    margin: 0;
}
ul ul, ol ul, ul ol, ol ol {
    margin: 0;
    margin-bottom: 0.1em;
    padding: 0;
    padding-left: 1.5em;
}
dd {
    margin: 0;
    margin-bottom: 0.2em;
}
