@charset "utf-8";
/* 
Name: Special stylesheet for IE6+
Description: Таблица стилей для корректировки особенностей отображения IE версии 6 и выше.
Created: April 2010
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

hr {
	margin: 0;
}

/* ----- forms ----- */
.field {
	_height: 1%; /* KLUDGE: добавляет свойство hasLayout */
}
.base_form select {
    *width: 276px;
}
.level_form .field .name {
	_margin-right: -140px; /* KLUDGE: устраняет 3-пиксельное смещение в IE6  */ 
}
.level_form select {
    *width: 206px;
}
/* ----- /forms ----- */

.news_list li {
    _height: 1%;
}

.vacancy_list li {    
    _height: 1%;
}

.gallery li {
    _display: inline;
}
