@charset "utf-8";
/*
Name: Print stylesheet
Description: Таблица содержит стили для печатной версии.
Created: April 2010
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

body {
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
}
hr {
    height: 1px;
    margin: 1em 0;
    padding: 0;
    color: gray;
    background: gray;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0 0.2em 0;
}
#breadcrumbs, #sidebar, #pageToolbar, hr.separator {
    display: none;
}
#header, #content {
    margin: 0 0 1em 0;
    padding: 0 0 1em 0;
    border-bottom: 1px solid gray;
}
