@charset "utf-8";
/* 
Name: Screen stylesheet
Description: Таблица импортирует стили для отображения на экране монитора.
Created: April 2010
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

@import url("common.css");
@import url("layout.css");
@import url("content.css");
@import url("forms.css");
