.idea/
vendor/
starter/htdocs/core/
starter/htdocs/images/
starter/htdocs/scripts/
starter/htdocs/stylesheets/
starter/htdocs/system.config.php
starter/htdocs/system.jsmap.php
starter/htdocs/templates/

starter/configs/system.config.pavka.php