.alist{
    border: 1px solid gray;
    overflow-y: auto;
    overflow-x: hidden;
    max-height:200px;
}
.alist ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.alist ul li{
    padding:5px;
}
.alist ul li.selected{
    background-color: silver;
}
*[unselectable="on"], .unselectable {-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}

.acpl_variants{
    
}

