.calendar_box {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
}

table.calendar * { margin: 0; padding: 0; }

table.calendar {
    border: 1px solid #000;
    border-collapse: separate;
    border-spacing: 1px;
    background: #FFF;
    color: #000;
    font: 11px tahoma, sans-serif;
    width: 178px;
}

#calendar_prevMonth, #calendar_nextMonth {
    background: #B1AFA9 no-repeat center center;
    cursor: pointer;
    cursor: hand;
}
#calendar_prevMonth { background-image: url(../images/prev.gif); }
#calendar_nextMonth { background-image: url(../images/next.gif); }

table.calendar th, table.calendar td {
    width: 24px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

table.calendar th { font-weight: bold; }

table.calendar tr.weekdays th {
    background: #B1AFA9;
    color: #FFF;
    font-weight: normal;
}

table.calendar td.thisMonth { background: #EBEADB; cursor: pointer; cursor: hand; }
table.calendar td.currDay { background: #316AC5; color: #FFF; font-weight: bold; }
table.calendar td.otherMonth { background: #F7F7F7; }
table.calendar td.highlighted { background: #FFA; color: #000; }