img {
    border: 0;
}

/* дерево подразделов в боковой панели */
.e-divtree-panel {
    /* 
        Для этого блока применяется метод перевода боксовой модели в модель border-box, 
        что дает возможность задавать внутри блока отступы при 100% ширине и высоте блока.
        В IE6-7 для html отступ не добавляется к высоте, поэтому для них ничего отдельно делать не нужно. 
    */
    -moz-box-sizing: border-box; /* Firefox 2+ */
    -ms-box-sizing: border-box; /* IE 8 */
    -khtml-box-sizing: border-box; /* Konquerror */
    -webkit-box-sizing: border-box; /* Safari 3+ */
    box-sizing: border-box;  /* Opera 8+, Chrome, браузеры с поддержкой CSS3 */
    height: 100%;
    overflow: hidden;
    padding: 63px 10px 12px 10px;
    border: 0; 
    background: #eee;
    font-family: Tahoma, sans-serif;
}
.e-divtree-panel body,
.e-divtree-panel .e-singlemode-layout {
    height: 100%;
    padding: 0;
    background: #fff;
    border: 1px solid #aaaaaa;
    overflow: visible;
}
.e-divtree-panel .e-grid-form {
    position: relative;   
    height: 100%;
}
.e-divtree-wrapper {
    height: 100%;
}
.e-divtree-main {
    height: 100%;
    overflow: auto;
    padding: 0 0 0 4px;
    font: 12px Tahoma, sans-serif;
}
.treeview a.final { 
    font-style: italic;
}
.treeview a.current, .treeview li.selected li a.current { 
    font-weight: bold;
    /*color: green;modbysd*/
    color:black;
}
	
/* тулбар дерева подразделов в боковой панели */
.e-divtree-panel .e-divtree-toolbar {
    position: absolute;
    /*top: -30px;*/
    top: -33px;
    left: -1px;
    z-index: 1;
    width: 100%;
    margin: 0 !important;
    padding: 2px 0 !important;
    border-radius: 0;
/*     margin-left: 30px !important; */
/*     margin-left: 62px !important; */
    margin-left: -1px !important;
}
.e-divtree-panel .e-divtree-toolbar li.icon {
    margin: 1px 2px !important;
/*     box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.1); */
/*     border-radius: 13px; */
/* box-shadow: 0px 0px 1px rgba(0, 0, 0, 1); */
    border:1px solid #EEEEEE;
    border:1px solid #EFFFDE;
    border:1px solid #000000;
    border:1px solid #BCBCBC;    
    border-radius: 2px;
}
/*.e-divtree-panel .e-divtree-toolbar li.icon.delete_btn{
  border:1px solid #FAE1E1;
  border:1px solid #000000;
}
.e-divtree-panel .e-divtree-toolbar li.icon.edit_btn{
  border:1px solid #D4D4D4;
  border:1px solid #000000;
}
*/
.e-divtree-panel .e-divtree-toolbar li.icon:hover {
/*     box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.5); */
    border:1px solid #EFFFDE;
    border:1px solid #000000;
/*       border:1px inset #EFFFDE; */
    margin: 0 1px !important;
    border:2px solid #FEFF9D;
/*     border:1px solid #EFFFDE; */

}
.e-divtree-panel .e-divtree-toolbar li.separator {
    height: 16px !important;
}

/* дерево подразделов в модальном окне */
.e-divtree-select {
	padding: 1px 0;
    font: 12px Tahoma, sans-serif;
}
