*[unselectable="on"], .unselectable {-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}
/* ----- reset ----- */
html, body, iframe, address, blockquote, p, pre, h1, h2, h3, h4, h5, h6, hr,        /* блочные элементы кроме div */
dd, dl, dt, ul, ol, li,                                                             /* списки */
a, abbr, acronym, b, cite, code, del, dfn, em, i,                                   /* строчные элементы кроме span */
ins, kbd, q, samp, strong, tt, var,                                                 /* строчные элементы */
img, object,                                                                        /* картинки и объекты */
caption, table, tbody, td, tfoot, th, thead, tr,                                    /* табличные элементы */
form, fieldset, legend, label,                                                      /* элементы формы кроме контролов */
u, font, s, center, dir, menu, strike, xmp                                          /* устаревшие элементы */
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-indent: 0;
    font-family: Arial, sans-serif;
    font-size: 1em;
}
/* ----- /reset ----- */
/* ----- links ----- */
a:link,
a:visited {
    color: #428bca;
    text-decoration: none;
}
a[href]:hover, a[href]:active {
    color: #2a6496;
    text-decoration: underline;
}
/* ----- /links ----- */
/* ----- forms ----- */
form {
    margin: 0 0 1em 0;
    font-family: Arial, sans-serif;
}
fieldset {
    padding: 12px;
    border: 1px solid gray;
}
input, textarea, select, button {
    height: auto;
    margin: 0;
    padding: 6px;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

button {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
button:hover {
    background-color: #ebebeb;
    border-color: #adadad;
}
input:focus,
textarea:focus,
select:focus,
input:hover,
textarea:hover,
select:hover,
.required input:focus,
.required textarea:focus,
.required select:focus,
.required input:hover,
.required textarea:hover,
.required select:hover {
    border-color: #6FCFE3;
    background-color: #FaFFFF;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #6FCFE3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px #6FCFE3;
}
textarea {
    vertical-align: top;
}
select {
    min-height: 24px;
    padding: 2px;
}
select option {
    background: white;
}
optgroup {
    color: black;
    background: white;
}
optgroup option {
    padding-left: 22px;
}
.required input,
.required select,
.required textarea {
    background: #f0fff0;
    border-color: #7DC27D;
}
.e-pane-b-toolbar input[type="text"],
.e-pane-b-toolbar input[type="password"],
.e-pane-b-toolbar input[type="email"],
.e-pane-b-toolbar input[type="phone"],
.e-pane-b-toolbar select,
.e-pane-b-toolbar textarea,
.filter input[type="text"],
.filter input[type="password"],
.filter input[type="email"],
.filter input[type="phone"],
.filter select,
.filter textarea {
    border: 0;
}

.e-pane-content .field {
    padding: 10px 0;
}
.e-pane-content .field .name {
    display: inline-block;
    vertical-align: middle;
    width: 173px;
    margin-bottom: 10px;
    /*font-weight: bold;*/
}
.e-pane-content .field .control {
    display: inline-block;
    vertical-align: middle;
    width: 520px;
}
.e-pane-content .field .control textarea,
.e-pane-content .field .control input[type="text"]
.e-pane-content .field .control input[type="password"],
.e-pane-content .field .control input[type="email"],
.e-pane-content .field .control input[type="phone"],
.e-pane-content .field .control select {
    width: 100%;
    margin-bottom: 10px;
}
.e-pane-content .field .control select {
    width: 534px;
}
.e-pane-content .field .control.type_code,
.e-pane-content .field .control.type_htmlblock {
    display: block;
    width: 100%;
}
.e-pane-content .field .control  .with_append {
    display: table;
    width: 532px;
}
.e-pane-content .field .control  .with_append input,
.e-pane-content .field .control  .with_append select,
.e-pane-content .field .control  .with_append .read {
    display: table-cell;
    width: 100%;
    margin-top: 0;
    border-right-width: 0;
    border-radius: 4px 0 0 4px;
}
.e-pane-content .field .control  .with_append.with_link select {
    border-radius: 4px;
    border-right-width: 1px;
}
.e-pane-content .field .control  .with_append .acpl {
    width: 481px;
    height: 18px;
}
.e-pane-content .field .control  .appended_block {
    vertical-align: top;
    display: table-cell;
    width: 1%;
}
.e-pane-content .field .control  .appended_block button,
.e-pane-content .field .control  .appended_block input[type="button"] {
    border-radius: 0 4px 4px 0;
    background-color: #dedede;
}
.e-pane-content .field.required .control  .appended_block button,
.e-pane-content .field.required .control  .appended_block input[type="button"] {
    border-color: #7DC27D;
}
.e-pane-content .field.required .control  .appended_block button:focus,
.e-pane-content .field.required .control  .appended_block input[type="button"]:focus,
.e-pane-content .field.required .control  .appended_block button:hover,
.e-pane-content .field.required .control  .appended_block input[type="button"]:hover {
    outline: none;
    background-color: #f0fff0;
}
.e-pane-content .field .control .with_link  .appended_block,
.e-pane-content .field .control .with_link  .appended_block button,
.e-pane-content .field .control .with_link  .appended_block button:hover,
.e-pane-content .field .control .with_link  .appended_block button:focus {
    border: 0;
    outline: none;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.075);
    box-shadow: inset 0 0 0 rgba(0,0,0,0.075);
    transition-property: none;
    -moz-transition-property: none;
    -webkit-transition-property: none;
    -o-transition-property: none;
    color: #428bca;
}
.e-pane-content .field .control .with_link  .appended_block {
    padding-left: 5px;
}
.e-pane-content .field .control  .with_append .read {
    border: 1px solid #ccc;
    border-right: 0;
    line-height: 30px;
    padding-left: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* ----- /forms ----- */
/* ----- clearfix ----- */
.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
    line-height: 0;
    font-size: 0;
}
.clearfix {
    *zoom: 1; /* IE7 */
    _height: 1%; /* IE6 */
}

code{
    white-space: pre;
}
.hidden {
    display: none !important;
}

