*[unselectable="on"], .unselectable {-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;user-select: none;}

/* ----- clearfix ----- */
.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
    line-height: 0;
    font-size: 0;
}
.clearfix {
    *zoom: 1; /* IE7 */
    _height: 1%; /* IE6 */
}

code{
    white-space: pre;
}
.hidden { display: none; }

