form .invalid {
    border-style: solid;
    border-color: #F00;
}

form div.error {
    padding: 0.5em;
    color: #F00;
    font: 11px Tahoma, sans-serif;
}

form .field {
    margin: 15px 0 0 10px;
    font: 11px Tahoma, sans-serif;
}
form .field button {
	font: 11px Tahoma, sans-serif;
}
form .field .name {
    /**/
}

form .field label {
    font-weight: normal;
}

form .field.required label {
    font-weight: bold;
}

form input, form textarea, form select {
    margin: 1px 0;
    padding: 1px;
    border: 1px solid gray;
    font: 11px Tahoma, sans-serif;
	width: 250px;
	height:auto;
}
form select{
	height:auto;
}
form select[multiple]{
	height:auto;
}
form input.file{
	width:230px;
}
form input.checkbox {
	width:auto;
	border: none;
}
form textarea {
	width: 650px;
	height: 200px;
}

form select {
	width: 250px;
}

.page_rights {
	padding:10px 10px 0px 10px;
}
.page_rights table {
	width: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border: 1px solid #aaaaaa;
	font: 11px Tahoma, sans-serif;
}
.page_rights table td {
   padding: 5px 0.5em;
   border: 1px solid #aaaaaa;
}
.page_rights table tr.even td {
	background: #f4f4f4;
}
.page_rights table thead td {
	background: #eeeedd;
	font-weight: bold;
}
.page_rights table td.group_name, .page_rights table tr.even td.group_name {
	background: #eeeedd;
	font-weight: bold;
}

.page_rights table tr td select {
    font: 11px Tahoma, sans-serif;
	width: 250px;
	border: 1px solid gray;
}


form .field .control .image {
	width:90%;
	overflow:auto;
	overflow-y:hidden;
}

form .field .control .image img {
    display: block;
}

form .richEditor {
    margin: 1px 0;
    width: 650px;
    height: 300px;
    border: 1px solid gray;
    background: #FFF;
}
form textarea.richEditor{
    font-family:Courier New;
    font-size: 12px;
    line-height:1em;
    border-color: red;
    line-height: 1.5em;
}

form div.richEditor ol, form div.richEditor ul { margin-left: 2em; }

.label_icon {
	vertical-align: baseline;
	margin: 0 5px;
}

.tool-tip{
	padding: 5px;
	background: #EEEEDD;
	border: 1px solid gray;
}
.tool-text{
	font: 11px Tahoma, sans-serif;
}

.formContainer fieldset{
	border:1px solid #AAAAAA;
	padding:0px 5px 10px 0px;
	margin:15px;
}

.formContainer legend{
	margin-left:10px;
	font: 12px Tahoma, sans-serif;
}

.smap_segment {
    font-size: 10px;
    color: gray;
}
.smap_segment .current_segment {
    font-size: 11px;
    color: #000;
}