@import 'font-awesome/css/font-awesome.css';

a.f_reset,
a.f_reset:hover,
a.f_reset:active {    
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
    /*color: #428bca;*/
    color:black;
    text-decoration: none;
}
div.grid table {
 border-collapse:collapse; 
}
div.grid table tr.highlighted td {
    /*background: #ecf3f8;*/
    /*background:#E6E6E6;*/
    color:black;/*#93198D;/*#93198d;/*#845282;*/
    background:#B9B9B9;/*#8E8E8E;*/

}

div.grid table tr.selected td {
    /*background: #428bca;
    color: #fff;*/
    /*background:#A08A9F;*/
    background:#737373;/*#505050;/*#363435;*/
    color:white;
}

div.grid table tr .firstColumn {
    border-left: 0;
}

.grid_toolbar {
    padding: 10px 0;
}

.e-singlemode-layout .grid_toolbar {
/*     position: relative; */
    height: 46px;
/* height: 82px; */
}

div.grid div.filters_block {
    width: 99%;
    background-color: #eee;
    margin: 0;
    margin-left: 0.5%;
    padding: 10px;
    border-radius: 1px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.e-singlemode-layout div.grid div.filters_block {
    position: absolute;
    top: 10px;
    left: 0;
}

div.grid div.filters_block.active {
    background-color: #EED;
}

div.grid div.filters_block .filters_block_inner {
    height: auto;
}

div.grid div.filters_block .filters_block_inner.toggled {
    overflow: hidden;
}

div.grid div.filters_block .filters_block_inner .filter_divider {
    float: left;
    margin: 10px 0;
    width: 100%;
    height: 1px;
    background-color: rgba(104, 104, 104, 0.6);
}

.filter_toggle {
    /*    position: absolute;*/
    top: 5px;
    right: 15px;
    display: none;
    font-size: 22px;
    font-weight: bold;
    padding-top: 5px;
    transition: transform 0.3s ease-out;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    position: static;
    width: 100%;
    text-align: center;
    color: black;
}
.e-singlemode-layout  .filter_toggle {
    display:block;
}

div.grid div.filters_block .filters_block_inner + .filter_toggle .fa:before {
    content: "\f106";
}
div.grid div.filters_block .filters_block_inner.toggled + .filter_toggle .fa:before {
    content: "\f107";
}
/*a.filter_toggle:hover {*/
/*transform:          scale(1.2);*/
/*-webkit-transform:  scale(1.2);*/
/*-moz-transform:     scale(1.2);*/
/*}*/
div.grid div.filters_block .filters {
    position: relative;
    float: left;
    width: 62%;
    padding-left: 50px;
}

div.grid div.filters_block .filters .filter {
    position: relative;
    float: left;
    width: 100%;
    display: table;
}

div.grid div.filters_block .filters .filter + .filter {
    margin-top: 10px;
}

div.grid div.filters_block .filters .filter .f_select_container,
div.grid div.filters_block .filters .filter .f_query_container {
    display: table-cell;
}

div.grid div.filters_block .filters .filter .f_select_container.operand_container {
    width: 16%;
}

div.grid div.filters_block .filters .filter .f_select_container.fieldname_container {
    width: 24%;
}

div.grid div.filters_block .filters .filter_add_block + .filter .f_select_container.fieldname_container {
    width: calc(40% + 5px);
}

div.grid div.filters_block .filters .filter .f_select_container select,
div.grid div.filters_block .filters .filter .f_query_container input {
    width: 98%;
}

div.grid div.filters_block .filters .filter_add_block,
div.grid div.filters_block .filters .filter_remove_block {
    position: absolute;
    top: 6px;
    left: 0;
}

div.grid div.filters_block .filters .filter_remove_block {
    left: -26px;
}

div.grid div.filters_block .filters .filter_add_block button
 {
    display: block;
    float: left;
/*    width: 22px;
    height: 22px;*/
    font-size: 12px;
    padding: 0;
/*    border-radius: 50%;*/
    text-align: center;
    outline: none;
    width: 21px;
    height: 20px;
    line-height: 1 !important;
     color: transparent; /* Fix for Firefox */
    background: url("../../images/webworks/icons.png") no-repeat transparent;
    border: none !important;
    box-shadow: none;
    background-position:-235px -31px;/* -233px -29px;    
    margin-left: 5px;
    box-shadow: 0px 0px 23px rgb(134, 134, 134);*/
}
div.grid div.filters_block .filters .filter_remove_block button {
      display: block;
    float: left;
/*    width: 22px;
    height: 22px;*/
    font-size: 12px;
    padding: 0;
/*    border-radius: 50%;*/
    text-align: center;
    outline: none;
    width: 21px;
    height: 20px;
    line-height: 1 !important;
     color: transparent; /* Fix for Firefox */    
    border: none !important;
    background: url("../../images/webworks/icons.png") no-repeat transparent;
    box-shadow: none;
    background-position: -235px -4px;/*-233px -2px;*/
}

div.grid div.filters_block .filters .filter_add_block button:disabled,
div.grid div.filters_block .filters .filter_remove_block button:disabled {
    /*background: rgb(150, 150, 150);color: #fff;*/
    /*background-color: rgb(110, 110, 110);/*rgb(150, 150, 150);    */
    line-height: 1 !important;
    color: transparent; /* Fix for Firefox */
    cursor: not-allowed;
}

div.grid div.filters_block .filter_controls {
    float: left;
    margin-left: calc(63% + 70px);
    margin-top: -31px;
    height:35px;
}

div.grid div.filters_block .filter_controls .f_apply {
    margin-right: 15px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
}

div.grid div.filters_block .filter_save_block {
    float: left;
    margin: 0;
    width: 100%;
    text-align: left;
}

div.grid div.filters_block .filter_save_block .save_filter {
    height: 26px;
    padding: 0 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.9),
    rgba(150, 150, 150, 0.3));
    background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.9),
    rgba(150, 150, 150, 0.3));
    background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.9),
    rgba(150, 150, 150, 0.3));
    font-size: 10px;
}

div.grid div.filters_block .filter_save_block .load_filter {
    margin-left: 15px;
    height: 26px;
    font-size: 10px;
}

div.grid div.filters_block .filter_save_block .filter_name {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 26px;
    font-size: 10px;
}

/*div.grid div.filters_block .filter_save_block input[type="text"]:hover,
div.grid div.filters_block .filter_save_block input[type="text"]:focus {
    border-color: rgb(204, 204, 204);
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}*/

div.grid div.filters_block .filter_save_block .filter_save_text {
    float: left;
    display: block;
    line-height: 26px;
}

div.grid div.filters_block .filter_save_block .filter_status {
    float: left;
    display: block;
    margin: 0 15px;
    width: 40%;
    height: 26px;
    background-color: #fff;
    font-size: 10px;
}

div.grid div.filter:nth-last-child(2) {
    float: left;
}

div.grid div.filters.active {
    background: #ecf3f8;
}

div.grid div.filter select, div.grid div.filter input, div.grid div.filter button {
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #555;
    margin: 0 5px 0 0;
    line-height: 20px;
    padding: 6px 8px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition:none;
    transition: none;
}

div.grid div.filter select.f_condition {
    width: 150px;
    height: 32px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
        	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
        	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
}

div.grid div.filter_controls button {
    padding: 5px 8px;
    text-align: center;
       white-space: nowrap;
       vertical-align: middle;
       cursor: pointer;
       background-image: none;
       border: 1px solid #ccc;
       border-radius: 0;
       padding: 6px 12px;
       line-height: 18px;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       -o-user-select: none;
       user-select: none;
}
div.grid div.filter_controls button:hover{
        background-color: #EED;
        border-color: #adadad;
}

div.grid div.filter .f_query_container, div.grid div.filter .f_query_date_container {
    margin-right: 5px;
}

div.grid div.filter input {
    width: 145px;
    margin-right: 0;
    height: 32px;
}

div.grid div.filter input.small {
    width: 72px;
    margin-right: 5px;
    /*vertical-align:middle;*/
}

div.grid .f_fields {
    width: 150px;
    height: auto;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
}

div.grid .f_condition {
    height: auto;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
}

div.grid .query {
    height: auto;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
}

.f_datepicker {
    /*vertical-align:middle;*/
    margin-left: -23px;
    padding-right: 5px;
    position: relative;
    top: 3px;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
}

.grid_breadcrumbs {
/*     margin: 10px 0; */
/*      margin: 31px 0;  */
    border-radius: 4px;
/*     padding: 15px; */
/*    background: #eee;*/
    font-size: 13px;
        display: inline-block;
	float:right;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
}

.grid_breadcrumbs a {
    color: #428bca;
    cursor:pointer !important;
}

.grid {
    background: #fcfcfc;
    color: black;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
}

.gridHeadContainer {
    padding-right: 17px;

    /*border: 1px solid #EFEFEF;*/
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    background: #efefef;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.gridHeadContainer th {
    background: auto;
    cursor: default;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
}

.gridHeadContainer th.asc {
    padding-right: 2em;
    background: url("../images/desc.gif") 100% 6px no-repeat;
}

.gridHeadContainer th.desc {
    padding-right: 2em;
    background: url("../images/asc.gif") 100% 6px no-repeat;
}

.gridContainer {
    overflow: scroll;
    overflow-x: hidden;
    /*border: 1px solid #ddd;*/
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
}

table.gridTable, table.gridTable th, table.gridTable td {
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
}

table.gridTable {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
    line-height: normal;
    *border-right: 17px solid #efefef; /* исправляет выползание скролла за пределы контейнера в IE */
    *margin-right: -17px;
}

.gridTable th {
    margin: 0;
    padding: 8px;
    border: 0;
    border-right: 1px solid #ddd;
    background: #eeeeee;
    text-align: left;
    color: #000000;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

.gridTable td {
    margin: 0;
    padding: 12px 8px;
    border: 0;
    border-right: 1px solid #ddd;
    cursor: default;
    /*font-family: Tahoma, sans-serif;*/    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gridTable tr.even td {
    background: #F4F4F4;
}

.gridContainer table.gridTable {
    border-bottom: 1px solid #ddd;
}

.gridContainer table.gridTable a {
    color: #428bca;;
}

.gridContainer table.gridTable .selected a {
    color: #fefefe;
}

.thumb_container {
    position: relative;
}

.video_file {
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin: 7px 0 0 15px;
    background: url(../images/icons/subicon_video.gif) 0 0 no-repeat;
}

.properties table {
    padding: 0;
    margin: 0;
    border: none;
}

.properties table td {
    font-size: xx-small;
    border: none;
}

/* --- media queries --- */
@media screen and (max-width: 768px) {
    /*div.grid div.filters_block {
        display: none;
    }*/
}

@media screen and  (max-width: 1100px) {
    .filter_toggle {
        position: static;
        margin: 5px 0 0;
        display: block;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: black;
    }

    /* a.filter_toggle:hover {
         background: rgb(104, 104, 104);
         color: rgb(255, 255, 255);
     }*/
}