div.grid table tr.highlighted td { background: #FF8; }
div.grid table tr.selected td { background: #36C; color: #FFF; }

div.grid table tr .firstColumn { border-left: 0; }

div.grid div.filter {
    background: #EEEEDD;
    margin-bottom: 10px;
    padding: 3px 6px;
    border: 1px solid #AAA;
    font: 11px tahoma, sans-serif;
}

div.filter a{
	color:Blue !important;
}
div.grid div.filter.active {
    background: #FF8;
}

div.grid div.filter select, div.grid div.filter input, div.grid div.filter button {
    font: 11px tahoma, sans-serif;
	padding:2px;
	margin:0px;
}

div.grid div.filter .f_query_container, div.grid div.filter .f_query_date_container{
    margin-left:10px;
}

div.grid div.filter input {
    width: 165px;
    margin-right:5px;
    vertical-align:middle;
}

div.grid div.filter input.small {
    width: 72px;
    margin-right:5px;
    /*vertical-align:middle;*/
}
div.grid .f_fields {
    width: 150px;
}
.f_datepicker {
    /*vertical-align:middle;*/
    margin-left:-23px;
    padding-right:5px;
    position:relative;
    top:3px;
}

.grid {
    background: #fcfcfc;
    color:black;
    /*border: 1px solid silver;*/
    font-family:tahoma,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
}

.gridHeadContainer {
    padding-right: 17px;
    border: 1px solid #aaaaaa;
    background: #eeeedd;
    _height: 1%; /* добавляет свойство hasLayout для IE6 */
}

.gridHeadContainer th {
    background: auto;
    cursor: default;
}

.gridHeadContainer th.asc {
    padding-right: 2em;
	background: url("../images/desc.gif") 100% 6px no-repeat;
}
.gridHeadContainer th.desc {    
    padding-right: 2em;
    background: url("../images/asc.gif") 100% 6px no-repeat;
}

.gridContainer {
    /*height: 200px;*/
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #aaaaaa;
}

table.gridTable, table.gridTable th, table.gridTable td {
	font-family: tahoma,sans-serif;
	font-size: 11px;
}

table.gridTable {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
    line-height: normal;
    *border-right: 17px solid #eeeedd;  /* исправляет выползание скролла за пределы контейнера в IE */
    *margin-right: -17px;
}
.gridTable th {
    margin: 0;
    padding: 5px;
    border: 0;
    border-right: 1px solid #aaaaaa;
    background: #eeeedd;
    text-align: left;
    color:#000000;
    font-weight: bold;
}
.gridTable td {
    margin: 0;
    padding: 5px;
    border: 0;
    border-right: 1px solid #aaaaaa;
    cursor:default;
    /*border-bottom: 1px solid #aaaaaa;*/
}

.gridTable tr.even td {
    background: #F4F4F4;
}

.gridContainer table.gridTable {
    border-bottom: 1px solid #aaaaaa;
}

.thumb_container{
    position: relative;
}
.video_file {
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin: 7px 0 0 15px;
    background: url(../images/icons/subicon_video.gif) 0 0 no-repeat;
}
.properties table{
    padding: 0;
    margin: 0;
    border: none;
}
.properties table td{
    font-size: xx-small;
    border: none;
}