div.grid table tr.highlighted td {  background: #ecf3f8; }
div.grid table tr.selected td {  background: #428bca; color: #fff; }

div.grid table tr .firstColumn { border-left: 0; }

div.grid div.filter {
    background-color: #eee;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}
div.grid div.filter.active {
    background: #ecf3f8;
}

div.grid div.filter select, div.grid div.filter input, div.grid div.filter button {
    font-size: 14px;
    color: #555;
	margin:0 10px 0 0;
    line-height: 20px;
    padding: 6px 8px;
}

div.grid div.filter .f_query_container, div.grid div.filter .f_query_date_container{
    margin-right: 10px;
}

div.grid div.filter input {
    width: 165px;
    margin-right:5px;
    height: 20px;
}
div.grid div.filter input.small {
    width: 72px;
    margin-right:5px;
    /*vertical-align:middle;*/
}
div.grid .f_fields {
    width: 150px;
    height:auto;
}
div.grid .f_condition {
    height:auto;
}
div.grid .query {
    height:auto;
}
.f_datepicker {
    /*vertical-align:middle;*/
    margin-left:-23px;
    padding-right:5px;
    position:relative;
    top:3px;
}

.grid_breadcrumbs {
    margin-bottom: 1px;
    padding: 4px 7px;
    background: #eeeedd;
    font-size: 11px;
}
.grid .filter + .grid_breadcrumbs {
    margin-top: -9px;
}


.grid {
    background: #fcfcfc;
    color:black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:13px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
}

.gridHeadContainer {
    padding-right: 17px;
    border: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    background: #efefef;
    _height: 1%; /* добавляет свойство hasLayout для IE6 */
}

.gridHeadContainer th {
    background: auto;
    cursor: default;
}

.gridHeadContainer th.asc {
    padding-right: 2em;
	background: url("http://www.stb.ua/images/desc.gif") 100% 6px no-repeat;
}
.gridHeadContainer th.desc {    
    padding-right: 2em;
    background: url("http://www.stb.ua/images/asc.gif") 100% 6px no-repeat;
}

.gridContainer {
    /*height: 200px;*/
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #ddd;
}

table.gridTable, table.gridTable th, table.gridTable td {

}

table.gridTable {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
    line-height: normal;
    *border-right: 17px solid #efefef;  /* исправляет выползание скролла за пределы контейнера в IE */
    *margin-right: -17px;
}
.gridTable th {
    margin: 0;
    padding: 8px;
    border: 0;
    border-right: 1px solid #ddd;
    background: #efefef;
    text-align: left;
    color:#000000;
    font-weight: bold;
}
.gridTable td {
    margin: 0;
    padding: 12px 8px;
    border: 0;
    border-right: 1px solid #ddd;
    cursor:default;
    /*border-bottom: 1px solid #aaaaaa;*/
}

.gridTable tr.even td {
    background: #F4F4F4;
}

.gridContainer table.gridTable {
    border-bottom: 1px solid #ddd;
}

.thumb_container{
    position: relative;
}
.video_file {
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin: 7px 0 0 15px;
    background: url(../images/icons/subicon_video.gif) 0 0 no-repeat;
}
.properties table{
    padding: 0;
    margin: 0;
    border: none;
}
.properties table td{
    font-size: xx-small;
    border: none;
}