/* ----- overlay ----- */
.e-overlay {
    position: fixed;                
    left: 0;
    top: 0;            
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: black;
    _position: absolute;
}
.e-has-topframe1 .e-overlay {
    _padding-top: 25px;
}
.e-has-topframe2 .e-overlay {              
    _padding-top: 50px;
}
.e-has-sideframe .e-overlay {
    _padding-left: 300px;
}
/* ----- /overlay ----- */

/* ----- modalbox ----- */
.e-modalbox {
    position: fixed;
    left: 50%;
    top: 5%;
    z-index: 1001;
    width: 780px;
    height: 90%;
    margin-left: -390px;
    background: white;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    _position: absolute;
}
.e-modalbox-close {
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 1001;
    width: 16px;
    height: 16px;
    background: white url(../images/close.gif) no-repeat;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
}
.e-modalbox .highlighted {
    background-color: #ff8;
}
.e-modalbox-frame {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
/* ----- /modalbox ----- */
