/*
    Модальное окно (modalbox) позиционируется поверх всего на странице, его ширина фиксированна, а по высоте оно
    растягивается на все доступное место на экране. На данный момент внутри modalbox находится только контейнер для табов - e-pane.
*/
/* ----- common ----- */
html, body {
    height: 100%;
}

/* ----- /common ----- */

/* ----- modalbox ----- */
.e-modalbox {
    position: fixed;
    left: 45%;
    margin-left: -40%;
    width: 90%;
    top: 5%;
    z-index: 1001;
    height: 90%;
    background: white;
    font-size: 13px;
    font-family: Tahoma, sans-serif;
    -webkit-box-shadow: 0pt 1.125pt 3pt 0.75pt rgba(0,0,0,0.25);
   	-moz-box-shadow: 0pt 1.125pt 3pt 0.75pt rgba(0,0,0,0.25);
   	box-shadow: 0pt 1.125pt 3pt 0.75pt rgba(0,0,0,0.25);
}
/*
.e-modalbox-close {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1001;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: #d2322d url(../images/close_white.png) no-repeat;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
}

.e-modalbox .highlighted {
    background-color: #d2322d;
    background-image: url(../images/close_white.png);
}*/

.e-modalbox-frame {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 4px;
}

/* --- media queries ---*/
@media screen and (max-width: 900px) {
    .e-modalbox {
        margin-left: 0;
        left: 2.5%;
        width: 95%;
    }
}
@media screen and (min-width: 1200px) {
    .e-modalbox {
        margin-left: 0;
        left: 10%;
        width: 80%;
    }
}
@media screen and (min-width: 1300px) {
    .e-modalbox {
        margin-left: 0;
        left: 15%;
        width: 70%;
    }
}
@media screen and (min-width: 1400px) {
    .e-modalbox {
        margin-left: 0;
        left: 20%;
        width: 60%;
    }
}
/* ----- /modalbox ----- */
