/* ----- overlay ----- */
.e-overlay {
    position: fixed;                
    left: 0;
    top: 0;    
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: black;
    line-height: 0;
    font-size: 0;
}
.e-overlay-loading {
    background: black url("../images/overlay_loading.gif") 50% 50% no-repeat;
}
/* ----- /overlay ----- */
