/* ----- page list ----- */
.e-pagelist {
    min-height: 14px;
    margin: 1px 0 0 0 !important;
    padding: 3px 2px 3px 22px !important;
    background: #eed url(../images/pagelist.gif) 4px center no-repeat !important;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    line-height: normal;
    _height: 14px;
}
.e-pagelist * {
    vertical-align: middle;
}
.e-pagelist li {
    display: inline;
    margin: 0 2px !important;
    padding: 0 4px !important;
    background: transparent !important;
    list-style: none !important;
    cursor: default;
	color:#36C;
}
.e-pagelist .highlighted {
    background: #ff8 !important;
    cursor: pointer;
    cursor: hand;
}
.e-pagelist .current {
    background: #36c !important;
    color: white;
    font-weight: bold;
    cursor: default;
}
.e-pagelist li input{	
	width: 50px;	
	margin-right: 10px;
	padding: 0;
	font-size: 11px;
}
/* ----- /page list ----- */
