/*
    Этот файл содержит правила для размещения на странице блоков-контейнеров административной части.
    По сути эти блоки имитируют поведение frameset с тремя фреймами.
    Список блоков и их назначение: 
    1) .e-topframe - блок для размещение тулбаров energine (главного, тулбара режима редактирования страницы и тулбаров фидов)
    2) .e-mainframe - блок для вывода страницы сайта
    3) .e-sideframe - боковой блок для размещение структуры (дерева подразделов) сайта и тулбара для работы со структурой сайта    
*/
/* ----- base ---- */
html, body {    
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;       
}

html {
    /* 
        Для этого блока применяется метод перевода боксовой модели в модель border-box, 
        что дает возможность задавать внутри блока отступы при 100% ширине и высоте блока.
        В IE6-7 для html отступ не добавляется к высоте, поэтому для них ничего отдельно делать не нужно. 
    */
    -moz-box-sizing: border-box; /* Firefox 2+ */
    -ms-box-sizing: border-box; /* IE 8 */
    -khtml-box-sizing: border-box; /* Konquerror */
    -webkit-box-sizing: border-box; /* Safari 3+ */
    box-sizing: border-box;  /* Opera 8+, Chrome, браузеры с поддержкой CSS3 */    
    overflow: hidden;
}
html.e-has-topframe1 {           
    padding-top: 25px; /* отступ для размещения верхней панели (с одним тулбаром), ограничение - фиксированная высота панели */
}
html.e-has-topframe2 {              
    padding-top: 50px; /* отступ для размещения верхней панели (с двумя тулбарами), ограничение - фиксированная высота панели */
}
html.e-has-topframe3 {              
    padding-top: 75px; /* отступ для размещения верхней панели (с тремя тулбарами), ограничение - фиксированная высота панели */
}
.e-has-sideframe body {             
    padding-left: 300px; /* этот отступ создает нужные две колонки, правая из которых фиксированная, а левая - растягивается на оставшуюся ширину окна */
}
/* ----- /base ---- */
         
/* ----- e-frames ----- */          
.e-topframe {
    display: none;
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    min-height: 25px;
    *z-index: 1;
}
.e-has-topframe1 .e-topframe, .e-has-topframe2 .e-topframe, .e-has-topframe3 .e-topframe {
    display: block;
}
.e-has-sideframe .e-topframe { /* костыль для IE6, который не может растянуть верхний фрейм на всю ширину body */
    _left: 300px;
}

.e-mainframe {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;               
    overflow: auto;
    margin-right: -100%;
    _clear: right;
}

.e-sideframe {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: 300px;
    height: 100%;
    background: #f8f8ed;    
    _top: 25px;
    _clear: right;      
}
.e-has-sideframe .e-sideframe {
    display: block;
}
.e-has-topframe2 .e-sideframe {
    _padding-bottom: 25px;
}
.e-has-topframe3 .e-sideframe {
    _padding-bottom: 50px;
}
.e-sideframe-content {
    width: 297px;
    height: 100%;
    overflow: auto;
}
.e-sideframe-border {
    position: absolute;
    right: 0;
    top: 0; 
    width: 1px;
    height: 100%;        
    border-left: 1px solid #eeeedd;
    border-right: 1px solid #aaaaaa;
    background: #eeeedd;
    /*cursor: e-resize;*/
}
.e-sideframe iframe {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 0;
}      
/* ----- /e-frames ----- */

/* ----- page toolbars ----- */ 
ul.docked_toolbar {
    position: relative;
    z-index: 10;
    min-height: 24px;       
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #AAA;
    background: #EED;
    color: black;
    _height: 24px;
}
ul.docked_toolbar li {
    min-height: 24px;
    height: 2.182em; /* =24px для размера шрифта 11px */    
    margin: 0 !important;
    padding: 0 10px !important;
    border: 0;
    line-height: 24px;
    vertical-align: middle;
    _height: 24px;
}
ul.docked_toolbar li.icon {
    height: 2.182em; /* =24px для размера шрифта 11px */
    padding: 0 4px !important;
    background: 50% 50% no-repeat;
    _height: 24px;
}
ul.docked_toolbar li.separator {
    width: 2px;
    height: 2.182em; /* =24px для размера шрифта 11px */
    margin: 0 !important;
    padding: 0 2px !important;
    background: url(../images/toolbar/separator.gif) 50% 50% no-repeat !important;
    _height: 24px;
}
ul.docked_toolbar li.highlighted { background-color: #FF8 !important; }
ul.docked_toolbar li.pressed { background-color: #A6CE39 !important; }

ul.main_toolbar {
    padding-left: 28px !important;  
    background: #EED url(../images/toolbar/pagetb_logo.gif) left top no-repeat;
}
.e-has-sideframe ul.main_toolbar { /* костыль для IE6, который не может растянуть верхний фрейм на всю ширину body */
    _margin-left: -300px !important;
}
.e-has-sideframe ul.wysiwyg_toolbar, .e-has-sideframe ul.feed_toolbar { 
    margin-left: 300px !important;   
    _margin-left: 0 !important;    
}
/* ----- /page toolbars ----- */
