/* ----- page list ----- */
.e-pagelist {
    min-height: 14px;
    margin: 10px 0 0 0 !important;
    padding: 8px 2px 8px 22px !important;
    background: #eee url(../images/pagelist.gif) 4px center no-repeat !important;
    font-size: 13px;
    line-height: normal;
    _height: 14px;
    border-radius: 4px;
}
.e-pagelist * {
    vertical-align: middle;
}
.e-pagelist li {
    display: inline;
    margin: 0 2px !important;
    padding: 0 6px !important;
    background: transparent !important;
    list-style: none !important;
    cursor: default;
	color:#428bca;
}
.e-pagelist .highlighted {
    background: #ecf3f8 !important;
    cursor: pointer;
    cursor: hand;
}
.e-pagelist .current {
    background: #428bca !important;
    color: white;
    font-weight: bold;
    cursor: default;
}
.e-pagelist li input{	
	width: 50px;	
	margin-right: 10px;
	padding: 6px;
}
/* ----- /page list ----- */
