/*@import url("controls.css");*/
/*
    Этот файл содержит правила для размещения на странице блоков-контейнеров административной части.
    По сути эти блоки имитируют поведение frameset с тремя фреймами.
    Список блоков и их назначение: 
    1) .e-topframe - блок для размещение тулбаров energine (главного, тулбара режима редактирования страницы и тулбаров фидов)
    2) .e-mainframe - блок для вывода страницы сайта
    3) .e-sideframe - боковой блок для размещение структуры (дерева подразделов) сайта и тулбара для работы со структурой сайта    
*/
/* ----- base ---- */
html, body {    
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Tahoma, sans-serif;
}

html {
    /* 
        Для этого блока применяется метод перевода боксовой модели в модель border-box, 
        что дает возможность задавать внутри блока отступы при 100% ширине и высоте блока.
        В IE6-7 для html отступ не добавляется к высоте, поэтому для них ничего отдельно делать не нужно. 
    */
    -moz-box-sizing: border-box; /* Firefox 2+ */
    -ms-box-sizing: border-box; /* IE 8 */
    -khtml-box-sizing: border-box; /* Konquerror */
    -webkit-box-sizing: border-box; /* Safari 3+ */
    box-sizing: border-box;  /* Opera 8+, Chrome, браузеры с поддержкой CSS3 */    
    overflow: hidden;
}
html.e-has-topframe1 {           
    padding-top: 31px; /* отступ для размещения верхней панели (с одним тулбаром), ограничение - фиксированная высота панели */
}
html.e-has-topframe2 {              
    padding-top: 62px; /* отступ для размещения верхней панели (с двумя тулбарами), ограничение - фиксированная высота панели */
}
html.e-has-topframe3 {              
    padding-top: 93px; /* отступ для размещения верхней панели (с тремя тулбарами), ограничение - фиксированная высота панели */
}
.e-has-sideframe body {             
    padding-left: 300px; /* этот отступ создает нужные две колонки, правая из которых фиксированная, а левая - растягивается на оставшуюся ширину окна */
}
/* ----- /base ---- */
         
/* ----- e-frames ----- */          
.e-topframe {
    display: none;
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    min-height: 31px;
    font-family: Tahoma, sans-serif;
    *z-index: 1;
}
.e-has-topframe1 .e-topframe, .e-has-topframe2 .e-topframe, .e-has-topframe3 .e-topframe {
    display: block;
}

.e-mainframe {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;               
    overflow: auto;
    margin-right: -100%;
}

.e-sideframe {
    display: none;
    position: absolute;
    top: 31px;
    left: 0;
    float: left;
    width: 300px;
    height: 100%;
    background: #eee;
    font-family: Tahoma, sans-serif;
    z-index: 3;
}
.e-has-sideframe .e-sideframe {
    display: block;
}
.e-has-topframe2 .e-sideframe {
    top: 31px;
}
.e-has-topframe3 .e-sideframe {

}
.e-sideframe-content {
    width: 297px;
    height: 100%;
    overflow: auto;
}
.e-sideframe-border {
    position: absolute;
    right: 0;
    top: 0; 
    width: 1px;
    height: 100%;        
    border-left: 1px solid #eeeedd;
    border-right: 1px solid #aaaaaa;
    background: #eeeedd;
}
.e-sideframe iframe {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 0;
}      
/* ----- /e-frames ----- */

/* ----- page toolbars ----- */
.e-topframe {
    background-color: #cfd1cf;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#cfd1cf));
    background-image: -moz-linear-gradient(top,#f5f5f5,#cfd1cf);
    background-image: -webkit-linear-gradient(top,#f5f5f5,#cfd1cf);
    background-image: -o-linear-gradient(top,#f5f5f5,#cfd1cf);
    background-image: -ms-linear-gradient(top,#f5f5f5,#cfd1cf);
    background-image: linear-gradient(top,#f5f5f5,#cfd1cf);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#f5f5f5',endColorstr='#cfd1cf');
    font-family: Tahoma, sans-serif;
}
ul.docked_toolbar {
    position: relative;
    z-index: 10;
    min-height: 30px;
    margin: 0 !important;
    padding: 0 !important;
    border-bottom: 1px solid #AAA;
    color: black;
}
.pagetb_logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 32px;
}
ul.docked_toolbar li {
    min-height: 30px;
    height: 30px;
    margin: 0 !important;
    padding: 0 20px !important;
    border: 0;
    line-height: 30px;
    vertical-align: middle;
    background: transparent;
    border-radius: 0;
    border: 0;
}
ul.docked_toolbar li.icon {
    height: 30px;
    padding: 0 15px !important;
    background: 50% 50% no-repeat;
}
ul.docked_toolbar li.separator {
    display: none;
}
ul.docked_toolbar li.highlighted { background-color: #ecf3f8 !important; }
ul.docked_toolbar li.pressed { background-color: #A6CE39 !important; }

ul.main_toolbar {
    padding-left: 30px !important;
}
.e-has-sideframe ul.wysiwyg_toolbar, .e-has-sideframe ul.feed_toolbar { 
    margin-left: 300px !important;
}
ul.docked_toolbar.block_management_toolbar,
ul.docked_toolbar.block_management_toolbar li {
    color: #000;
    background: none;
}
ul.docked_toolbar.block_management_toolbar:hover,
ul.docked_toolbar.block_management_toolbar li:hover,
ul.docked_toolbar.block_management_toolbar:focus,
ul.docked_toolbar.block_management_toolbar li:focus,
ul.docked_toolbar.block_management_toolbar:active,
ul.docked_toolbar.block_management_toolbar li:active {
    color: #000;
}
ul.toolbar.docked_toolbar.block_management_toolbar li select {
    min-height: 20px;
    height: 20px;
    margin-top: -6px;
    padding: 0;
}
/* ----- /page toolbars ----- */
