/*
    Tabpane - это стандартный блок с вкладками, в котором размещаются элементы управления Energine. 
    Tabpane может выводиться как в модальном окне, так и просто на странице. Разницы в структуре в этих двух случаях нет, 
    а есть разница в поведении - в модальном окне tabpane растягивается на всю доступную высоту, а на странице - 
    подстраивается так, чтобы было видно максимальное количество записей, но при этом не больше высоты окна (это делает
    функция fitGridFormSize в Grid.js). 
    Контейнер для табов - блок e-pane; высота этого контейнера задает высоту для всего остального, т.е. содержимое 
    внутри него подстраивается под его размеры. Вверху и внизу модального окна находятся панели (контейнеры для тулбаров), 
    которые всегда видны, а посередине - контейнер для содержимого (e-pane-content), который скроллируется, 
    если содержимое превышает его размер.
    Наружный контейнер (e-pane) позиционирован относительно, а панели и контейнер с содержимым - абсолютно. 
    Верхняя панель прижата кверху контейнера, нижняя - книзу, обе имеют фиксированную высоту, которая зависит от 
    количества тулбаров в них. Сейчас предусмотрена возможность разместить в верхней и нижней панели по 0, 1 или 2 тулбара 
    в любом сочетании. При добавлении тулбара в панель к внешнему контейнеру (e-pane) добавляются классы-модификаторы 
    e-pane-has-top-toolbar1, e-pane-has-top-toolbar2, e-pane-has-bot-toolbar1, e-pane-has-bot-toolbar2. 
    Контейнер для содержимого позиционирован абсолютно, без указания высоты, с указанием свойств top, right, bottom и left 
    - это позволяет растянуть его на 100% по высоте и ширине, оставляя вверху и внизу место для панелей (для IE6 высота 
    и ширина указывается в 100% и применяются expression, которые уменьшают высоту и ширину на нужный размер).
*/
/* ----- grid form ----- */
.e-grid-form {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* ----- /grid form ----- */

/* ----- tabpane ----- */
.e-pane {
    position: relative;
    height: 100%;
    min-height: 300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: normal;
    _height: 300px;
}
.e-singlemode-layout .e-pane {
    min-height: 0;
    _height: 100%;
}
/* оверлей внутри табпейна, его высота вычисляется expression'ом для IE6 в случае, когда высота e-pane задана в пикселах */
.e-pane .e-overlay {
    position: absolute;
    _top: 0;
    _height: expression(this.parentNode.clientHeight);    
}
.e-singlemode-layout .e-pane .e-overlay {
    _height: 100%;
}

/* pane toolbars */
.e-pane-t-toolbar, .e-pane-b-toolbar {
    display: none;
    position: absolute;
    right: 10px;
    left: 10px;
    z-index: 1;
    background: white;
    _width: expression(this.parentNode.clientWidth - 20);
}
.e-pane-t-toolbar {
    top: 0;
    padding-top: 10px;
}
.e-pane-b-toolbar {                    
    bottom: 0;
    padding-bottom: 10px;
    _padding-bottom: 9px;
} 
/* Классы-модификаторы (для контейнера e-pane) для случая, когда есть тулбары вверху и/или внизу */
.e-pane-has-t-toolbar1 .e-pane-t-toolbar, 
.e-pane-has-t-toolbar2 .e-pane-t-toolbar, 
.e-pane-has-b-toolbar1 .e-pane-b-toolbar, 
.e-pane-has-b-toolbar2 .e-pane-b-toolbar {
    display: block;
}
/* 1 тулбар вверху */
.e-pane-has-t-toolbar1 .e-pane-t-toolbar { 
    height: 36px;
}
.e-pane-has-t-toolbar1 .e-pane-content { 
    top: 47px;
    _height: expression(this.parentNode.clientHeight - 66); 
}
/* 2 тулбара вверху */
.e-pane-has-t-toolbar2 .e-pane-t-toolbar { 
    height: 48px; 
}
.e-pane-has-t-toolbar2 .e-pane-content { 
    top: 58px;
    _height: expression(this.parentNode.clientHeight - 90); 
}
/* 1 тулбар внизу */
.e-pane-has-b-toolbar1 .e-pane-b-toolbar { 
    height: 62px;
}
.e-pane-has-b-toolbar1 .e-pane-content { 
    bottom: 72px;
    _zoom: expression( 
        runtimeStyle.zoom = 1, 
        (/e-pane-has-t-toolbar1/.test(this.parentNode.className)) ? (runtimeStyle.tHeight = '96') : (/e-pane-has-t-toolbar2/.test(this.parentNode.className) ? runtimeStyle.tHeight = '120' : runtimeStyle.tHeight = '72')
        );
    _height: expression(this.parentNode.clientHeight - this.runtimeStyle.tHeight);
}
/* 2 тулбара внизу */
.e-pane-has-b-toolbar2 .e-pane-b-toolbar { 
    height: 116px;
}
.e-pane-has-b-toolbar2 .e-pane-content { 
    bottom: 126px;
    _zoom: expression(
        runtimeStyle.zoom = 1, 
        (/e-pane-has-t-toolbar1/.test(this.parentNode.className)) ? (runtimeStyle.tHeight = '120') : (/e-pane-has-t-toolbar2/.test(this.parentNode.className) ? runtimeStyle.tHeight = '144' : runtimeStyle.tHeight = '96')
        );
    _height: expression(this.parentNode.clientHeight - this.runtimeStyle.tHeight);
}

.e-pane-toolbar {
    padding: 5px 10px;
}

/* pane content  */
.e-pane-content {
    position: absolute;            
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;                 
    overflow: hidden;
    border: 1px solid #ddd;
    background: white;
    padding: 10px;
    _width: expression(this.parentNode.clientWidth - 42);
    _height: expression(this.parentNode.clientHeight - 42);
}
.e-singlemode-layout .e-pane-t-toolbar, 
.e-singlemode-layout .e-pane-b-toolbar, 
.e-singlemode-layout .e-pane-content {
    position: fixed;
    _position: absolute;
}
.e-pane-item {
    /* 
        Для этого блока применяется метод перевода боксовой модели в модель border-box, 
        что дает возможность создать отступы и бордеры у блока при его 100% высоте.        
        В IE6 этот эффект делается с помощью expression.
        В IE7 expressions нельзя использовать, так как будет глючить скрипт, который подгоняет размеры грида,
        поэтому используется абсолютное позиционирование блока.
    */
    -moz-box-sizing: border-box; /* Firefox 2+ */
    -ms-box-sizing: border-box; /* IE 8 */
    -khtml-box-sizing: border-box; /* Konquerror */
    -webkit-box-sizing: border-box; /* Safari 3+ */
    box-sizing: border-box;  /* Opera 8+, Chrome, браузеры с поддержкой CSS3 */
    height: 100%;    
    overflow: auto;
    border: 1px dotted #777;
    padding: 10px;
    *position: absolute;
    *top: 10px;
    *right: 10px;
    *bottom: 10px;
    *left: 10px;
    *height: auto;
    _position: static;
    _width: expression(this.parentNode.clientWidth - 42);
    _height: expression(this.parentNode.clientHeight - 42);   
}
.e-grid-pane .e-pane-item {
    border: 0;
    padding: 0;
    overflow: hidden;
    _width: 100%;
    _height: 100%;
}

/* pane tabs */
.e-tabs {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    line-height: normal;
    border-bottom: 1px solid #ddd;
}
.e-tabs li {
    float: left;
    margin: 0 2px -1px 0;
    padding: 0;
    clear: none;
    overflow: hidden;
    padding: 10px 15px;
    border-radius: 4px 4px 0 0;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
}
.e-tabs li a, .e-tabs li a:link, .e-tabs li a:visited, .e-tabs li a:hover, .e-tabs li a:active {
    color: #428bca;
    text-decoration: none;
}
.e-tabs .highlighted {
    background-color: #eee;
}
.e-tabs li.disabled a{
    color:silver;
}
.e-tabs .current {
    position: relative;
    z-index: 1;
    padding: 10px 15px;
    font-size: 14px;
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.e-tabs .current a {
    cursor: default;
    color: black;
}
.e-tabs li .data {
    display: none;
}
/* ----- /tabpane ----- */
