/* ----- grid form ----- */
.e-grid-form {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* ----- /grid form ----- */

/* ----- tabpane ----- */
.e-pane {
    position: relative;
    height: 100%;
    min-height: 390px;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    line-height: normal;
    _height: 390px;
}
.e-singlemode-layout .e-pane {
    min-height: 0;
    _height: 100%;
}

/* pane toolbars */
.e-pane-t-toolbar, .e-pane-b-toolbar {
    display: none;
    position: absolute;
    right: 10px;
    left: 10px;
    z-index: 1;
    background: white;
    _width: expression(this.parentNode.clientWidth - 20);
}
.e-pane-t-toolbar {
    top: 0;
    padding-top: 10px;
}
.e-pane-b-toolbar {                    
    bottom: 0;
    padding-bottom: 10px;
    _padding-bottom: 9px;
} 
/* Классы-модификаторы (для контейнера e-pane) для случая, когда есть тулбары вверху и/или внизу */
.e-pane-has-t-toolbar1 .e-pane-t-toolbar, 
.e-pane-has-t-toolbar2 .e-pane-t-toolbar, 
.e-pane-has-b-toolbar1 .e-pane-b-toolbar, 
.e-pane-has-b-toolbar2 .e-pane-b-toolbar {
    display: block;
}
/* 1 тулбар вверху */
.e-pane-has-t-toolbar1 .e-pane-t-toolbar { 
    height: 24px; 
}
.e-pane-has-t-toolbar1 .e-pane-content { 
    top: 34px;    
    _height: expression(this.parentNode.clientHeight - 66); 
}
/* 2 тулбара вверху */
.e-pane-has-t-toolbar2 .e-pane-t-toolbar { 
    height: 48px; 
}
.e-pane-has-t-toolbar2 .e-pane-content { 
    top: 58px;
    _height: expression(this.parentNode.clientHeight - 90); 
}
/* 1 тулбар внизу */
.e-pane-has-b-toolbar1 .e-pane-b-toolbar { 
    height: 30px; 
}
.e-pane-has-b-toolbar1 .e-pane-content { 
    bottom: 40px;
    _zoom: expression( 
        runtimeStyle.zoom = 1, 
        (/e-pane-has-t-toolbar1/.test(this.parentNode.className)) ? (runtimeStyle.tHeight = '96') : (/e-pane-has-t-toolbar2/.test(this.parentNode.className) ? runtimeStyle.tHeight = '120' : runtimeStyle.tHeight = '72')
        );
    _height: expression(this.parentNode.clientHeight - this.runtimeStyle.tHeight);
}
/* 2 тулбара внизу */
.e-pane-has-b-toolbar2 .e-pane-b-toolbar { 
    height: 54px; 
}
.e-pane-has-b-toolbar2 .e-pane-content { 
    bottom: 64px;
    _zoom: expression(
        runtimeStyle.zoom = 1, 
        (/e-pane-has-t-toolbar1/.test(this.parentNode.className)) ? (runtimeStyle.tHeight = '120') : (/e-pane-has-t-toolbar2/.test(this.parentNode.className) ? runtimeStyle.tHeight = '144' : runtimeStyle.tHeight = '96')
        );
    _height: expression(this.parentNode.clientHeight - this.runtimeStyle.tHeight);
}

.e-pane-toolbar {
    padding: 5px 10px;
}

/* pane content  */
.e-pane-content {
    position: absolute;            
    top: 10px;  
    right: 10px;
    bottom: 10px;
    left: 10px;                 
    overflow: hidden;
    border: 1px solid #aaa;
    background: white;
    padding: 10px;
    _width: expression(this.parentNode.clientWidth - 42);
    _height: expression(this.parentNode.clientHeight - 42);
}
.e-singlemode-layout .e-pane-t-toolbar, 
.e-singlemode-layout .e-pane-b-toolbar, 
.e-singlemode-layout .e-pane-content {
    position: fixed;
    _position: absolute;
}
.e-pane-item {
    /* 
        Для этого блока применяется метод перевода боксовой модели в модель border-box, 
        что дает возможность создать отступы и бордеры у блока при его 100% высоте.        
        В IE6 этот эффект делается с помощью expression.
        В IE7 expressions нельзя использовать, так как будет глючить скрипт, который подгоняет размеры грида,
        поэтому используется абсолютное позиционирование блока.
    */
    -moz-box-sizing: border-box; /* Firefox 2+ */
    -ms-box-sizing: border-box; /* IE 8 */
    -khtml-box-sizing: border-box; /* Konquerror */
    -webkit-box-sizing: border-box; /* Safari 3+ */
    box-sizing: border-box;  /* Opera 8+, Chrome, браузеры с поддержкой CSS3 */
    height: 100%;    
    overflow: auto;
    border: 1px dotted #777;
    padding: 10px;
    *position: absolute;
    *top: 10px;
    *right: 10px;
    *bottom: 10px;
    *left: 10px;
    *height: auto;
    _position: static;
    _width: expression(this.parentNode.clientWidth - 42);
    _height: expression(this.parentNode.clientHeight - 42);   
}
.e-grid-pane .e-pane-item {
    border: 0;
    padding: 0;
    overflow: hidden;
    _width: 100%;
    _height: 100%;
}

/* pane tabs */
.e-tabs {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    line-height: normal;
}
.e-tabs li {
    float: left;
    clear: none;
    height: 16px;
    overflow: hidden;
    margin: 2px -1px 0 0 !important;
    padding: 3px 10px 2px 10px !important;
    border: 1px solid #aaa;
    border-bottom: 0;
    background: #eed;
}
.e-tabs li a { 
    text-decoration: none;
    color: black !important;
}
.e-tabs .highlighted {
    background-color: #ff8;
}
.e-tabs .current {
    position: relative;
    z-index: 1;
    margin: 0px -1px -1px 0 !important;
    padding: 5px 10px 3px 10px !important;
    background-color: white;
}
.e-tabs li .data {
    display: none;
}
/* ----- /tabpane ----- */
