ul.toolbar {
    margin: 10px 0 0 0 !important;
    padding: 8px !important;
    background: #eee;
    border-radius: 4px;
	color:black;
}

ul.toolbar * {
    margin: 0;
    padding: 0;
}

ul.toolbar li {
    float: left;
    margin: 2px !important;
    padding: 6px 12px !important;
    list-style: none !important;
	clear: none;
	-khtml-user-select: none;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    text-align: center;
    white-space: nowrap;
    font-size: 13px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

ul.toolbar li.icon {
    width: 16px;
    height: 16px;
    margin: 0 1px !important;
    padding: 2px !important;
    border: 0;
    background: center center no-repeat;
}

ul.toolbar li.separator {
    display: none;
    width: 2px;
    height: 19px;
    padding: 0 2px !important;
    border: 0;
    background: url(../images/toolbar/separator.gif) center center no-repeat;
}

ul.toolbar li.select {    
    padding: 1px 0 !important;
    border: 0;
    background: none;
}

ul.toolbar li.custom_select {    
    padding: 1px 2px !important;
    border: 0;
}
ul.toolbar .custom_select_box {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    margin-bottom: 4px;
    padding-right: 18px;
    border: 1px solid gray;
    line-height: normal;
    vertical-align: middle;
}
ul.toolbar .custom_select_view {
    min-width: 120px;
    min-height: 13px;
    background: #fff;
    border-right: 1px solid gray;
    padding: 1px 2px;
    white-space: nowrap;
}
ul.toolbar .custom_select_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 100%;
    background: #f0f0f0 url(../images/asc.gif) 50% 60% no-repeat;
}
ul.toolbar .custom_select_dropbox {
    position: relative;
}
ul.toolbar .custom_select_options {
    position: absolute;
    left: -1px;
    top: 1px;
    z-index: 10;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background: #fff;
    border: 1px solid gray;
    white-space: nowrap;
}
ul.toolbar .custom_select_option {
    padding: 4px 8px;
}
ul.toolbar .custom_select_option.selected {
    background: #e0e0e0;
}
ul.toolbar .custom_select_option:hover {
    background-color: #FF8;
}

ul.toolbar li.highlighted { background-color: #ebebeb; border-color: #adadad; }
ul.toolbar li.pressed { border-color: #000 #BBB #BBB #000;background-color: #FF8; }
ul.toolbar li.disabled {}

ul.toolbar .label {
    margin-right: 10px;
    margin-left: 10px;
}

ul.toolbar .text{
    color: #757177;
    padding-right:0px;
    padding-left:0px;
}

ul.toolbar li select{
	width:150px;
    height: 28px;
    margin-right: 15px;
}

ul.toolbar li input[type="file"]{
    visibility:hidden;
    position:absolute;
    top:-50;
    left:-50;
}

