@charset "utf-8";
/* CSS Document */
/* 
Template
Name: Content stylesheet
Description: Стили для контента.   
Created: May 2009
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

/* ----- default common classes ----- */
/* свойства параграфов и оформительских блоков; img в тексте */
.small_margin { margin: 0 0 0.5em 0; }
.no_margin { margin: 0; }
.clear { clear: both; }
.hidden { display: none; }
.left { float: left; margin: 6px 12px 6px 0; }
.right { float: right; margin: 6px 0 6px 12px; }
.text_top { margin-top: 0; }
.image_in_text { border: 1px solid gray; }
.box_in_text { padding: 6px; border: 1px solid gray; }
.box_in_text img { display: block; }
.box_in_text .caption { margin-top: -1px; padding: 2px 3px; border: 1px solid gray; background: #F0F0F0; font-size: 0.847em; /* =11px */ }

/* форматирование текста */
.align_left { text-align: left; }
.align_right { text-align: right; }
.align_center { text-align: center; }
.align_justify { text-align: justify; }
.small { font-size: 0.847em; /* =11px */ }
.large { font-size: 1.154em; /* =15px */ }
.quiet { color: #999; }
.loud { color: #000; }

/* сообщения */
.error { color: #ff0000; }
.error_msg, .notice_msg, .info_msg, .success_msg { margin: 0 0 1em 0; padding: 1em; }
.error_msg { border: 2px solid #ff0000; color: #ff0000; }
.info_msg { border: 2px solid #00008b; color: #00008b; }
.notice_msg { border: 2px solid #B5B5B5; }
.success_msg { border: 2px solid #006400; color: #006400; }

/* ----- /default common classes ----- */

/* ----- default tables ----- */
.base_table {
	width: 100%;
	margin: 0 0 1em 0;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}
.base_table th {
	padding: 2px;
	border: 1px solid gray;
	background: #F0F0F0;
	text-align: center;
}
.base_table td {
	padding: 2px;
	border: 1px solid gray;
}

.lined_table {
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;
	border-collapse: separate;
	border-spacing: 0;
	border: 0;
}
.lined_table th {
	padding: 2px;
	border: 0;
	border-right: 1px solid #fff;
	background: #E0E0E0;
	text-align: center;
}
.lined_table td {
	padding: 2px;
	border: 0;
	border-right: 1px solid #fff;
}
.lined_table tr.odd td {
	background: #F0F0F0;
}
/* ----- /default tables ----- */

/* ----- page title ----- */
.page_title {
    margin: 0;
    padding: 10px;
}
/* ----- /page title ----- */

/* ----- textblock ----- */
.textblock {
    clear: both;
    margin: 0 0 1em 0;
    padding: 10px;
    background: #fff;
}
/* ----- /textblock ----- */
