@charset "utf-8";
/* CSS Document */
/* 
Template
Name: Form stylesheet
Description: Стили для форм.   
Created: May 2009
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

/* ----- default ----- */
input.radio, input.checkbox {
	width: auto;
	vertical-align: middle;
}

.field {
	clear: both;
	padding: 5px 0;
}
.buttons {
	clear: both;
	padding: 10px 0;
}
form .note {
	padding: 5px 0;
	font-size: 0.847em; /* =11px */
	font-weight: bold;
}
form .mark {
	color: #ff0000;
}

/* base(vertical) form */
.base_form {
	margin: 0 0 1em 0;
}
.base_form input.text {
	width: 270px;
}
.base_form input.file {
	width: 274px;
}
.base_form textarea {
	width: 270px;
	height: 70px;
}
.base_form select {
	width: 274px;
}
/* /base form */

/* level(horizontal) form */
.level_form {
	margin: 0 0 1em 0;
}
.level_form .field .name {
	float: left;
	width: 140px;
}
.level_form .field .control {
	margin-left: 150px;
}
.level_form .field .error {
    margin-left: 150px;
} 
.level_form input.text {
	width: 200px;
}
.level_form input.file {
	width: 204px;
}
.level_form textarea {
	width: 200px;
	height: 70px;
}
.level_form select {
	width: 204px;
}
/* /level form */
/* ----- /default ----- */
