@charset "utf-8";
/* CSS Document */
/* 
Template
Name: Print stylesheet
Description: Таблица содержит стили для печатной версии.
Created: May 2009
Author: Yuriy Ponomarev (mailto:yourick.po@gmail.com)
*/

body {
    background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
}

hr {
	height: 1px;
	margin: 1em 0;
	padding: 0;
	color: gray;
	background: gray;
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0 0.2em 0;
}

.main_menu, .breadcrumbs, .sidebar, hr.separator {
	display: none;
}

.header h1 a {
    text-decoration: none;
    color: #000;
}
.header, .content {
	margin: 0 0 1em 0;
	padding: 0 0 1em 0;
	border-bottom: 1px solid gray;
}
