@charset "utf-8";
/* CSS Document */
/* 
Template
Name: Content stylesheet
Description: Стили для контента.   
Version: $Id: content.css,v 1.1 2008/04/10 16:12:07 pavka Exp $
Date: April 2008
Author: Yuriy Ponomarev (mailto:ponomarev@colocall.net)
*/

/* ----- default common classes using in content ----- */
.small_margin {
	margin: 0 0 0.5em 0;
}
.no_margin {
	margin: 0;
}
.clear {
	clear: both;
}
.align_left {
	text-align: left;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}
.align_justify {
	text-align: justify;
}

.error_message {
	color: #ff0000;
}
.success_message {
	color: #006400;
}

.image_in_text {
	border: 1px solid gray;
}
.left {
	float: left;
	margin: 10px 15px 10px 0;
}
.right {
	float: right;
	margin: 10px 0 10px 15px;
}
.text_top {
	margin-top: 0;
}

.box_in_text {
	padding: 10px;
	border: 1px solid gray;
}
.box_in_text img {
	display: block;
}
.box_in_text .caption {
	padding: 2px 3px;
	border: 1px solid gray;
	border-top: 0;
	background: silver;
	text-align: center;
	font-size: 0.847em; /* =11px */
}
/* ----- /default common classes using in content ----- */

/* ----- tables ----- */
/* default */
table, th, td {
	font-family: "Lucida Sans Unicode", sans-serif;
	font-size: 1em; /* =13px */
}
caption {
	padding-bottom: 5px;
	text-align: left;
	font-weight: bold;
}
th {
	font-weight: bold;
	text-align: center;
}
tfoot {
	font-weight: bold;
}

.base_table {
	width: 100%;
	margin: 0 0 1em 0;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}
.base_table th {
	padding: 2px;
	border: 1px solid gray;
	background: silver;
}
.base_table td {
	padding: 2px;
	border: 1px solid gray;
}

.lined_table {
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0 0 0 1px;
	border-collapse: separate;
	border-spacing: 0;
	border: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.lined_table th {
	padding: 2px;
	border: 0;
	border-right: 1px solid #fff;
	background: gray;
}
.lined_table td {
	padding: 2px;
	border: 0;
	border-right: 1px solid #fff;
	background: silver;
}
.lined_table tr.odd td {
	background: #f1f1f1;
}
/* /default */

/* basket */
table.basket {
	margin: 0 0 1em 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: separate; 
	border: 0;	
}
table.basket th, table.basket td {
    padding: 3px;
	border: 0;
	border-right: 1px solid #fff;
}
table.basket thead th, table.basket tfoot td {
	padding: 4px 3px;
	background: silver;
}
table.basket tfoot td.no_border {
	border: 0;
}
table.basket tbody td {
	background: #fafafa;
}
table.basket tbody tr.odd td {
	background: #f3f3f3;
}
/* /basket */

/* ----- /tables ----- */


/* pager */
.pager {
	margin: 0 0 1em 0;
}
.pager a:visited { color: #00E; }
.pager a:hover, .pager a:active { color: #F00; }

.pager .control {
    margin: 0 5px;
}
.pager .arrow img {
    vertical-align: middle;
}
.pager .current {
    padding: 0 3px 1px 3px;
    background: #0080FF;
    color: #fff; 
}
/* /pager */

/* news */
#content ul.news {
	margin: 0 0 1em 0;
	padding: 0;	
}
#content ul.news li {
	_height: 1%;
	margin: 0 0 1em 0;
	list-style: none;
}
.news .title {
	margin: 0;
	font-weight: normal;
}
.news .anounce {
	margin: 0 1em;
}
/* /news */

/* gallery */
#content .gallery {
	float: left;
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;	
}
#content .gallery li {
	_display: inline;
	float: left;
	width: 27%;
	margin: 0 1em 1em 1em;
	padding: 1em 0 0 0;
	list-style: none;
	text-align: center;
}
/* /gallery */

/* site list */
.site_list_box {
    float: left;
    width: 26%;
    margin-right: 4%;
}
.site_list .active {
    font-weight: bold;
}
/* /site list */

/* div editor */
.div_editor_form {
    float: left; 
    width: 70%;
    *width: 69.9%;
}
/* /div editor */