@charset "utf-8";
/* CSS Document */
/* 
Template
Name: Layout stylesheet
Description: Таблица формирует двухколоночный layout методом простых разнонаправленных float'ов. 
Version: $Id: layout.css,v 1.1 2008/04/10 16:12:07 pavka Exp $
Date: April 2008
Author: Yuriy Ponomarev (mailto:ponomarev@colocall.net)
*/

html, body {
	margin: 0;
	padding: 0;
}

body {
	background: #FFF url(../../images/default/top-bg.png) top left repeat-x;
	font-size: 0.813em; /* =13px - базовый размер шрифта для страницы */
	line-height: 150%;
	_text-align: center;
}

hr.separator {
	display: none;
}

/* clearfix by Andy Budd */
.clearfix:after {
	content: ".";		
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix {
	zoom: 1; /* IE5.5+ */
	_height: 1%; /* IE5-6 */
}	
/* /clearfix */
/* clearing */
.clearing {
	clear: both;
	height: 1px;
	font-size: 0.01em;
}
/* /clearing */

#container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 1px;
	_text-align: left;	
}

/* ----- header ----- */
#header h1 {
	margin: 0;
	padding: 25px 0;
}
#header h1 img {
	display: block;
}
/* ----- /header ----- */

/* ----- breadcrumbs ----- */
.breadcrumbs {
	margin: 1em 0;
    padding-left: 22px;
	_height: 1%;   
}
/* ----- /breadcrumbs ----- */

/* ----- content ----- */
#main {	
	float: left;
	width: 100%;
	padding-bottom: 2em;
}
#content {	
    width: 667px;
    float: right;
	padding: 0 0 0 12px;
	_width: 679px; /* IE6 */
	_w\idth: 667px; /* IE5 */
	_margin-left: 321px;	
}
#page_title {	
	margin: 0 0 0.5em -12px;
    font-size: 2.154em; /* =28px */
	font-weight: normal;
	line-height: normal;
	color: #65961A;
	_height: 1%;	
}
.textbox {
    margin: 0 0 1em 0;
}
.textblock {
	margin: 0 0 1em 0;
}
/* ----- /content ----- */

/* ----- sidebar ----- */
#sidebar {
    width: 296px;
    float: left;
	_clear: left;
	_margin-right: -100%;
}
#sidebar .box {
	margin: 0 0 1em 0;
    padding: 8px 10px;
    background: #EEE;
}

/* language switcher */
.lang_switcher {
	margin: 10px 0 10px 14px;
	list-style: disc outside;
}
.lang_switcher a:visited { color: #00E; }
.lang_switcher a:hover { color: #F00; }
.lang_switcher a:active { color: #F00; }
/* /language switcher */

/* menu */
.main_menu {
    padding-top: 10px;
	padding-bottom: 10px;
    background: #EEE;
}

.main_menu li {
    margin: 3px 0;
	padding: 0 0 0 4px;
}
.main_menu a:visited { color: #00E; }
.main_menu a:hover, .main_menu a:active { color: #F00; }

.menu a:visited { color: #00E; }
.menu a:hover, .menu a:active { color: #F00; }
/* /menu */

#sidebar #userForm, #sidebar #currencySwitcher, #sidebar .basket_list {
    margin: 0 0 10px 0;
    padding: 8px 10px;
    background: #EEE;
}

/* ----- /sidebar ----- */

/* ----- footer ----- */
#footer {
    clear: both;
    padding: 1em;
    border-top: 1px dotted #777;
    color: #777;
    font-size: 11px;
    text-align: center;
	_height: 1%;
}

#footer p {
    margin: 0;
}
/* ----- /footer ----- */
