@charset "utf-8";
/* CSS Document */
/* 
Template
Name: Screen stylesheet
Description: Таблица импортирует стили для отображения на экране монитора. Правила импорта скрывают форматирование страницы от старых браузеров.
Version: $Id: screen.css,v 1.1 2008/04/10 16:12:07 pavka Exp $
Date: April 2008
Author: Yuriy Ponomarev (mailto:ponomarev@colocall.net)
*/

@import url("layout.css"); /* layout styles import */
@import url("content.css"); /* content styles import */
@import url("forms.css"); /* forms styles import */
