RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ #{siteRoot}index.php

<FilesMatch "\.(xml|xslt)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.(svn)$">
    Order allow,deny
    Deny from all
</FilesMatch>

Options FollowSymLinks

AddDefaultCharset utf-8

DirectoryIndex index.php